body 	{
            font-family: 'Lato';
        }

        .fa-btn {
            margin-right: 6px;
        }
        .alert--info {
            background-color: grey;
            color:white;
        }
        .alert--error {
            background-color: red;
            color:white;
        }

        .alert--success {
            background-color: green;
            color:white;
        }
